* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {

}

ul {
    position: absolute;
    display: table;
    left: 430px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2.6px;
    color: #4d4959;
}

li {
    display: table-cell;
    padding-left: 63px;
}

/* end header*/
.section-1 {
    height: 469px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.heading-1 {
    font-size: 18px;
    font-weight: bold;
    color: #353738;
    letter-spacing: 3.6px;
    padding-left: 260px;
    padding-top: 34px;
}

.text-1 {
    width: 1079px;
    height: 84px;
    color: #848789;
    font-size: 18px;
    line-height: 34px;
    padding-left: 270px;
    padding-top: 35px;
}
/*end section-1 */
.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    height: 600px;
}

.block-1 {
    width: 1067px;
    height: 600px;
    background-image: url(Layer_10.png);
    background-color: #282f35;
}

.block-2 {
    width: 533px;
    height: 410px;
}

.heading-2 {
    font-size: 18px;
    font-weight: bold;
    color: #353738;
    letter-spacing: 3.6px;
    padding-top: 25px;
}

.text-2 {
    width: 398px;
    height: 134px;
    color: #848789;
    line-height: 30px;
    padding-left: 67px;
    padding-top: 26px;
}

.bike-1 {
    grid-column: 2;
    position: relative;
    top: -200px;
}
/* end section-2*/
.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    height: 600px;
}

.block-3 {
    width: 1067px;
    height: 600px;
    background-image: url(Layer_12.png);
    background-color: #282f35;
}

.bike-2 {
    position: relative;
    top: -200px;
}
/* end section-3*/
.section-4 {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    height: 600px;
}

.block-4 {
    width: 534px;
    height: 600px;
    background-image: url(Layer_15.png);
}

.bike-3 {
    grid-column: 2/2;
    position: relative;
    top: -200px;
}


.bike-4 {
    grid-column: 3/3;
    position: relative;
    top: -600px;
}
/*end section-4*/
.section-5 {
    height: 469px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.text-3 {
    width: 1036px;
    height: 55px;
    font-size: 24px;
    color: #848789;
    line-height: 34px;
    font-style: italic;
    padding-left: 301px;
    padding-top: 27px;
}

.block-5 {
    padding-top: 104px;
    padding-left: 174px;
}

.ellipse {
    padding-left: 9px;
}
/*end section-5*/
.section-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 534px;
}

.block-6 {
    background-color: #60AA90;
    background-image: url(Layer_23.png);
    width: 533px;
    height: 267px;
    grid-column:5/7;
}

.bike-5 {
    grid-column: 1/3; 
    grid-row:2/2;
    position: relative;
    top: -270px;
    left: 1px;
}

.bike-6 {
    grid-column: 5/6;
    position: relative;
    top: -267px;
}

.bike-7 {
    position: relative;
    top: -267px;
}

.text-4 {
    padding-left: 217px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}
/*end section-6*/
.section-7 {
    height: 200px;
    background-color: #282f35;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 1604px;
}

.button {
    width: 300px;
    height: 50px;
    color: #ffffff;
    border: 1px solid #94979A;
    background-color: #282f35;
    margin-top: 80px;
    font-weight: 700;
    letter-spacing: 2.8px;
    font-size: 14px;
}
/*end section-7*/
.section-8 {
    height: 469px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.input {
    width: 400px;
    height: 69px;
    border: 1px solid #d3d7d9;
    font-size: 18px;
    color: #D0D0D0;
}

.button-2 {
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    border: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
}
/*end section-8*/
footer {
    height: 250px;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.text-5 {
    color: #848789;
}

.icon {
    padding-right: 15px;
}

